{% extends "BackOfficeBundle:Pages:base.html.twig" %}
{% block content %}
    <div id="wrapper">
        <nav>
            {% include 'BackOfficeBundle:Pages:bonjour.html.twig' %} 
            {% include 'BackOfficeBundle:Pages:navigation.html.twig' %}
            {% include 'BackOfficeBundle:Pages:navbar.html.twig' %} 
        </nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default margin">
                        <div class="panel-heading">
                            Ajouter une nouvelle fiche
                        </div>
                        <div class="panel-body">
                            {{ form_start(form) }}
                                <fieldset>
								    <legend>Informations générales:</legend>
                                    <div class="form-group">
                                         <label>Catégorie</label>
                                         <select class="form-control" name="categorie">
                                             {% for categorie in categories %}
                                                <option value="{{ categorie.idcat }}">{{ categorie.nom }}</option>
                                             {% endfor %}
                                          </select>
                                     </div>
                                    {{ form_widget(form) }}
                                    {{ form_row(form.image) }}
                                    <input type="submit" class="btn btn-default btn-info" value="Ajouter" />
                                  </fieldset>
                              {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
{% endblock %}
{% block script %}
    <script>
    $(document).ready(function () {
        $(".nav li").removeClass("selected") 
        $('#fiches').addClass('selected');
    });
    </script>
{% endblock %}
