<head>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />

</head>
<div id="wrapper">
{% include 'BackOfficeBundle:Pages:bonjour.html.twig' %} 

            {% include 'BackOfficeBundle:Pages:navigation.html.twig' %} 

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/index"><i class="fa fa-dashboard fa-fw"></i>Tableau de bord</a>
                        </li>
                        <li>
                            <a href="/utilisateurs"><i class="fa fa-table fa-fw"></i> Gérer les utilisateurs</a>
                        </li>
                        <li>
                            <a href="/categories"><i class="fa fa-table fa-fw"></i> Gérer les catégories</a>
                        </li>
                        <li class="selected">
                            <a href="/fiches"><i class="fa fa-table fa-fw"></i>Gérer les fiches</a>
                        </li>
                        <li>
                            <a href="/commentaires"><i class="fa fa-table fa-fw"></i> Gérer les commentaires</a>
                        </li>
                        <li>
                            <a href="/notifications"><i class="fa fa-table fa-fw"></i> Gérer les notifications push</a>
                        </li>                                          
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
            <a href="/fiches/ajouter">
                <button type="button" class="btn btn-info btn-block right">Ajouter une fiche</button>
            </a>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default margin">
                        <div class="panel-heading">
                            Liste des fiches
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nom</th>
                                            <th>Description</th>
                                            <th>Ajoutée par</th>
                                            <th>Date d'ajout</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for fiche in fiches %}
                                        <tr>
                                            <td>{{ fiche.id_fiche }}</td>
                                            <td>{{ fiche.nom }}</td>
                                            <td>{{ fiche.decription }}</td>
                                            <td>{{ fiche.prenom }}</td>                            
                                            <td>{{ fiche.date_ajout|date('d/m/Y') }}</td>
                                            <td><a href="{{ path('modifier_fiche', { 'fiche': fiche.id_fiche }) }}"><button type="button" class="btn btn-primary btn-sm">Consulter</button></a></td>
                                        </tr>
                                       {% endfor %}  
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
        </div>
        <!-- /#page-wrapper -->

    </div>
  <script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
</body>