{% extends 'base.html.twig' %}

{% block body %}
    <h1>Image</h1>

    <table>
        <tbody>
            <tr>
                <th>Id_image</th>
                <td>{{ image.idimage }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ image.nom }}</td>
            </tr>
            <tr>
                <th>Chemin</th>
                <td>{{ image.chemin }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ image.taille }}</td>
            </tr>
            <tr>
                <th>Date_ajout</th>
                <td>{% if image.dateajout %}{{ image.dateajout|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date_modification</th>
                <td>{% if image.datemodification %}{{ image.datemodification|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('image_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('image_edit', { 'id_image': image.id_image }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
