{% extends 'base.html.twig' %}

{% block body %}
    <h1>Administrateur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ administrateur.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ administrateur.email }}</td>
            </tr>
            <tr>
                <th>Mot_de_passe</th>
                <td>{{ administrateur.motdepasse }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ administrateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ administrateur.prenom }}</td>
            </tr>
            <tr>
                <th>Date_ajout</th>
                <td>{% if administrateur.dateajout %}{{ administrateur.dateajout|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date_modification</th>
                <td>{% if administrateur.datemodification %}{{ administrateur.datemodification|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('administrateur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('administrateur_edit', { 'id': administrateur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
